/* Color Definitions */
:root {
	--amber: #ffb000;
  --light-amber: #ffcc00;
  --green-1: #33ff00;
  --apple-green: #33ff33;
  --green-2: #00ff33;
  --apple-2c: #66ff66;
  --green-3: #00ff66;
  --background: #14120c;
  --text-color: var(--amber);
}

/* Typography */
@font-face {
  font-family: 'modern-terminus';
  src: url('../fonts/TerminusTTF-4.38.2.ttf');
}

html {
  font-family: 'modern-terminus', 'monospace';
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: var(--text-color);
  background-color: var(--background);
  padding: 13px;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 450;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: var(--text-color);
  text-transform: uppercase;
}

a {
  font-size: 1em;
  color: var(--text-color);
}

hr {
  color: var(--text-color);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  margin: 5px;
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  margin: 0;
}

h5, h6 {
  font-size: 1em;
}

/* Layout and Colors */
body {
  margin: 0;
  padding: 0;
  max-width: inherit;
  background: var(--background);
  color: var(--text-color);
}

header, footer {
  font-size: large;
  text-align: center;
  padding: 0.2em 0;
  background-color: var(--background);
  color: var(--text-color);

}

header a {
  text-decoration: none;
}

nav {
  background: var(--background);
  text-align: center;
  padding-bottom: 10px;
}

section {
  background: var(--background);
  text-align: center;
}

main {
  background: var(--background);
}

/* Grid */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 80ch 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content;
}


header {
  grid-row: 1;
  grid-column: 1 / 4;
}

nav {
  grid-row: 2;
  grid-column: 1 / 4;
}

section {
  align-items: center;
  grid-row: 3;
  grid-column: 1 / 4;
}

main {
  max-width: 80ch;
  align-items: center;
  grid-row: 4;
  grid-column: 2 / 3;
  padding: 0 10px;
}

footer {
  grid-row: 5;
  grid-column: 1 / 4;
}

.amber {
  background-color: var(--amber);
}

.light-amber {
  background-color: var(--light-amber);
}

.green-1 {
  background-color: var(--green-1);
}

.apple-green {
  background-color: var(--apple-green);
}

.green-2 {
  background-color: var(--green-2);
}

.apple-2c {
  background-color: var(--apple-2c);
}

.green-3 {
  background-color: var(--green-3);
}
