<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="icon" href="images/favicon.ico" type="image/png" />
    <title>WebLogue</title>
  </head>
  <body>
    {% include "header" %}
    {% include "nav" %}
    {% include "colorpicker" %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% include "footer" %}
    <script src="scripts/colorpicker.js"></script>
  </body>
</html>
