<section>
  <span class="amber">&nbsp</span>
  <span class="light-amber">&nbsp</span>
  <span class="green-1">&nbsp</span>
  <span class="apple-green">&nbsp</span>
  <span class="green-2">&nbsp</span>
  <span class="apple-2c">&nbsp</span>
  <span class="green-3">&nbsp</span>
</section>
